<main>
    <div class="grid grid-cols-3 gap-5 w-96 m-2">
        <div class="flex justify-center items-center bg-blue-500 text-white w-32 h-32 rounded-md cursor-pointer"
            (click)="onAddClick()">
            <span>
                Add
            </span>
        </div>
        <div class="flex justify-center items-center bg-blue-500 text-white w-32 h-32 rounded-md cursor-pointer"
            (click)="onRemoveClick()">
            <span>
                Remove
            </span>
        </div>
        <div class="flex justify-center items-center bg-blue-500 text-white w-32 h-32 rounded-md cursor-pointer"
            (click)="onEditClick()">
            <span>
                Edit
            </span>
        </div>
    </div>
</main>
